body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}
.main{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image:linear-gradient(to bottom right,rgb(82, 156, 203), rgb(207, 131, 186));
}
.form{
    background-color: white;
    border-radius: 10px;
}
h1{
    color: white;
    margin: 0;
    text-shadow: 2px 1px 1px black;
}
